body {
    background-color: darkslategrey;
    text-align: center;
}

kbd {
    background-color: white;
    height: 210px;
    width: 70px;
    display: inline-block;
    margin-left: -4px;
    border: 1px solid;
    text-align: center;
}

.container {
    margin: 210px 0;
}
